.post {
  border: 1px solid var(--color-grey-400);
  text-align: center;
  border-radius: 6px;
  margin: var(--size-4) 0;

  height: 100%;
}

.post a {
  color: var(--color-grey-100);
}

/* .image {
  width: 100%;
  max-height: 20rem;
  overflow: hidden;
  padding: 1.6rem 0 0.2rem 0;
}

.image img {
  width: max-content;
  object-fit: cover;
  border: 1px solid var(--color-grey-500);
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0, 166, 255, 0.2);
} */

.content {
  padding: var(--size-4);

  color: var(--color-grey-900);
}

.content h3 {
  margin: var(--size-2) 0;
  font-size: var(--size-6);
}

.content time {
  font-style: italic;
  color: var(--color-grey-700);
}

.content p {
  line-height: var(--size-6);
}
